/* @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap'); */

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.projects-section {
  padding: 100px 5vw;
  scroll-margin-top: 80px;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
}

.projects-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  font-weight: bolder;
  letter-spacing: 1px; 
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.project-card {
  background-color: aliceblue;
  border-radius: 0px 35px 0px 35px;
  padding: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.project-card h3 {
  font-size: 1.5rem;
  color: #070707;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.project-card p {
  font-size: 1.2rem;
  color: rgb(89, 89, 89);
  margin-bottom: 1.2rem;
  line-height: 1.8;
  font-family: "Poiret One", sans-serif;
}

.project-card .tech {
  display: block;
  font-size: 0.9rem;
  color: rgb(89, 89, 89);;
  margin-bottom: 1rem;
  font-weight: bolder;
}

.project-link {
  text-decoration: none;
  color: #0d0d0e;
  font-weight: bolder;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #030303;
}
