
body {
  background-color: #ffe4e6; 
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Section wrapper */
.skills-section {
  padding: 60px 5vw;
  scroll-margin-top: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem ;
}

/* White container box */
.skills-content {
  background-color: aliceblue;
  padding: 40px;
  max-width: 1200px;
  border-radius: 0px 35px 0px 35px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}


/* Headings and text */
.skills-content h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #333;
}

.skills-intro {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-height: 1.7;
  color: #444;
}

.skills-services {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.skills-services li {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  color: #555;
}

/* Tech Stack */
.skills-content h3 {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #333;
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-size: 2.2rem;
  margin-top: 1rem;
}

.skills-icons svg {
  transition: transform 0.3s ease;
  color: #0077b6;
}

.skills-icons svg:hover {
  transform: scale(1.2);
  color: #023e8a;
}