@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
} 
.section {
  scroll-margin-top: 80px;
} 

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: bolder;
}

.brand-name {
  font-size: 2rem; 
  font-weight: 800;
}


.Home{
  color:#ecf2f7;
  font-weight: bolder;
  font-size:4rem;
  font-style:initial ;
  letter-spacing: 1px;
  text-align: center;
}
    


nav {
  background-color: pink;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  height: 80px;
  padding: 0 2rem;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  display: flex;  
}   
  
.navbar-collapse {
  background-color: pink;
  padding: 1rem 0;
  text-align: center;
}

.navbar-nav {
  flex-direction: column;
  gap: 1rem;
}

nav a {
  color: rgb(189, 133, 143);
  margin-left: 1.5rem;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  letter-spacing: 1px;
  font-weight:700;
  
}

nav a:hover {
  color: #02070d;
  text-shadow: 0 0 6px rgba(0, 119, 182, 0.4);
}

/* Hero Section */
.hero-section {
  min-height: 100vh;
  padding:120px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@media (max-width: 768px) {
  .hero-section {
    padding-top: 160px; 
    
  }
}
.hero-section p {
  font-size: 1.25rem;
  color:rgb(245, 245, 245);
  max-width: 600px;
  margin-top: 1rem;
  font-family: "Poiret One", sans-serif;
  padding: 10px;
}


/* Section Styling */
.section {
  padding: 80px 5vw;
  text-align: center;
  font-size: 1.5rem;
  background: linear-gradient(135deg, #0a3050, #3fb6c6);
}
 
.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  flex-wrap: wrap;
}

.profile-photo {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
  border: 6px  solid#eef2f6;
}

@media (max-width: 600px) {
  .profile-photo {
    max-width: 200px;
    margin-bottom: 1.5rem;
  }
}

.profile-photo:hover{
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.white-btn {
  background-color: #f3f1f1;
  color: #0d0d0e;
  border: 2px solid #d3d3db;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.white-btn:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
  
}

.button-group{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.social-icons i:hover {
  transform: scale(1.1); 
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.social-icons i {
  font-size: 3rem;
  color: #000000;
  transition: transform 0.3s ease;
}

.social-icons i:hover {
  transform: scale(1.1);
}
